@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,900);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300);

body{
    background: #ccc;
    font-family: 'Roboto';
    color: #000;
}

h1, h2, h3, h4, h5, h6{

    margin-top: 0;

    font-weight: 900;

}

.btn-lg{
    margin-top: 25px;
    margin-bottom: 25px;
}

.panel-heading:hover{
    cursor: pointer;
    background-color: #eee;
}

.panel-heading a:hover{
    text-decoration: none;
}

#footer{
    height: 110px;
    width: 100%;
    padding-top: 20px;
    margin-top: 20px;
    background-color: #f8f8f8;
    border-top: solid #e7e7e7 1px;
}

#output-percentage{
    font-size: 24px;
}

.jumbotron {
    background: #09f;
    color: #fff;
    margin-bottom: 30px;
    padding: 30px 30px 40px 30px;
    border-radius: 0 !important;
}

.jumbotron .small {
    font-size: 16px;
}

.jumbotron p{

    margin: 0;

}

.jumbotron p.lead{

    margin-bottom: 20px;

    font-family: 'Roboto Slab';

}


.jumbotron H1{
    margin: 0 0 10px 0;

    font-weight: 900;

    color: #fff;
}

.jumbotron a{

    background: #fff;

    color: #09f;

    border-radius: 15px;

    padding: 8px 10px 8px 10px;

    font-weight: 700;
    font-size: 0.7em;

    text-transform: lowercase;

}

.jumbotron a:hover{

    text-decoration: none;
    color: #059;

}

.twitter-share-button, .fb-like {
    margin-top: 10px;
    margin-left: 10px;
}

.lead {
    line-height: 30px;
}

.section{
    background: #fff;

    padding: 20px;

    margin-bottom: 30px;

    -webkit-box-shadow: 0px 0px 0px 1px rgba(30,30,30,0.1);
    -moz-box-shadow: 0px 0px 0px 1px rgba(30,30,30,0.1);
    box-shadow: 0px 0px 0px 1px rgba(30,30,30,0.1);

}

.question{
    font-family: 'Roboto Slab';
}

.note{

    color: #000;

    background: rgba(255,255,255,0.4);

    padding: 5px 10px 5px 10px;

    border-radius: 5px;

}

.sources{
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 0.8em;
}

.sources strong{
    background: rgba(0,0,0,0.5);
    padding: 0 2px 0 2px;
    font-family: 'Roboto';
    font-weight: 900;
    text-transform: uppercase;
}

.navbar{
    margin-bottom: 0;
}

.panel{
    margin-bottom: 30px !important;
    border: 0 !important;
    border-radius: 0;
    color: #fff;

    -webkit-box-shadow: 0px 0px 0px 1px rgba(30,30,30,0.1);
    -moz-box-shadow: 0px 0px 0px 1px rgba(30,30,30,0.1);
    box-shadow: 0px 0px 0px 1px rgba(30,30,30,0.1);

}

.slider{

    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 70px;

}

.slider .tooltip{

    margin-top: 0px;

}

.slider-track {
    background: rgba(0,0,0,0.2);
}

.slider-selection{
    background: #09f;
}

.slider-handle{
    background: #fff;
    border: solid #000 3px;
    opacity: 1;
}

.slider .tooltip{

    margin-top: -10px;

    /* Make tooltips unselectable */
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    -o-user-select: none;
    user-select: none;

}

.btn-primary{

    background: #059;

    border-radius: 30px;

    border: 0;

    width: auto;

    display: inline;

}

.btn-primary:hover{

    background: #09f;

    border: 0;

}

.assumptions-menu{

	margin-bottom: 15px;

}

.assumptions-menu-icon{

	display: inline-block;

	width: 24px;
	height: 24px;

	overflow: hidden;

	border-radius: 50%;

	margin: 5px;
	padding-top: 2px;

	text-align: center;

	font-weight: 900;
	color: #fff;
	background: #000;

}

.panel a{

    color: #fff;
    text-decoration: underline;

}

.panel-heading{
    background-color: #fff !important;
    border: 0 !important;
    color: #000;
}

.panel .slider{

    height: 70px;
    width: 100%;

}

.panel .slider .tooltip{

    margin-top: 0px;

}

.panel .slider-track {
    background: rgba(0,0,0,0.5);
}

.panel .slider-selection{
    background: #fff;
}

.panel .slider-handle{
    background: #fff;
    border: solid #000 3px;
    opacity: 1;
}

.panel-image{

	font-size: 3em;

	padding: 15px 0 40px 0;

}

#menu-household-size, #panel-household-size{background: hsla(0,60%,40%,1);}
#menu-food-expenses, #panel-food-expenses{background: hsla(30,60%,40%,1);}
#menu-transport-expenses, #panel-transport-expenses{background: hsla(60,60%,40%,1);}
#menu-rent-expenses, #panel-rent-expenses{background: hsla(90,60%,40%,1);}
#menu-health-expenses, #panel-health-expenses{background: hsla(120,60%,40%,1);}
#menu-education-expenses, #panel-education-expenses{background: hsla(150,60%,40%,1);}
#menu-communication-expenses, #panel-communication-expenses{background:hsla(180,60%,40%,1);}
#menu-recreation-expenses, #panel-recreation-expenses{background: hsla(210,60%,40%,1);}
#menu-other-expenses, #panel-other-expenses{background: hsla(240,60%,40%,1);}