@import url('https://fonts.googleapis.com/css?family=Merriweather:400,900|Noto+Serif:400,700');

body {
  background: #fff;
  font-family: 'Noto Serif', serif;
  color: #000;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-family: 'Merriweather', serif;
  font-weight: 900;
}

.btn-lg {
  margin-top: 25px;
  margin-bottom: 25px;
}

.panel-heading:hover {
  cursor: pointer;
  background-color: #eee;
}

.panel-heading a:hover {
  text-decoration: none;
}

#footer {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-top: 20px;
  background-color: #f8f8f8;
  border-top: solid #e7e7e7 1px;
}

#output-percentage {
  font-size: 24px;
}

.jumbotron {
  background: #83bb26;
  color: #fff;
  margin-bottom: 30px;
  padding: 30px 30px 40px 30px;
  border-radius: 0 !important;
}

.jumbotron .small {
  font-size: 16px;
}

.jumbotron p {
  margin: 0;
}

.jumbotron p.lead {
  margin-bottom: 20px;
  font-family: 'Noto Serif', serif;
}

.jumbotron h1 {
  margin: 0 0 10px 0;

  font-weight: 400;

  color: #fff;
}

.jumbotron a {
  background: #fff;

  color: #83bb26;

  border-radius: 15px;

  padding: 8px 10px 8px 10px;

  font-weight: 700;
  font-size: 0.7em;

  text-transform: lowercase;
}

.jumbotron a:hover {
  text-decoration: none;
  color: #000;
}

.lead {
  line-height: 30px;
}

.btn.btn-primary {
  text-transform: Uppercase;

  font-size: 1em;
  font-weight: 700;
}

.btn.btn-primary i {
  margin-right: 10px;
}

.section {
  background: #fff;

  padding: 20px;

  margin-bottom: 30px;

  -webkit-box-shadow: 0px 0px 0px 1px rgba(30, 30, 30, 0.1);
  -moz-box-shadow: 0px 0px 0px 1px rgba(30, 30, 30, 0.1);
  box-shadow: 0px 0px 0px 1px rgba(30, 30, 30, 0.1);
}

.question {
  font-family: 'Merriweather', serif;
}

.note {
  color: #000;

  background: #fff;

  padding: 5px 10px 5px 10px;

  border-radius: 5px;
}

.sources {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  font-size: 0.8em;
}

.sources strong {
  background: rgba(0, 0, 0, 0.5);
  padding: 0 2px 0 2px;
  font-family: 'Merriweather', serif;
  font-weight: 900;
  text-transform: uppercase;
}

.navbar {
  margin-bottom: 0;
}

.panel {
  margin-bottom: 30px !important;
  border: 0 !important;
  border-radius: 0;
  color: #fff;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(30, 30, 30, 0.1);
  -moz-box-shadow: 0px 0px 0px 1px rgba(30, 30, 30, 0.1);
  box-shadow: 0px 0px 0px 1px rgba(30, 30, 30, 0.1);
}

.hero-image {
  background-image: url("/img/slum/original.jpg");
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 70px;
}

.slider .tooltip {
  margin-top: 0px;

  width: 80px;
}

.slider-track {
  background: rgba(0, 0, 0, 0.2);
}

.slider-selection {
  background: #83bb26;
}

.slider-handle {
  background: #fff;
  border: solid #000 3px;
  opacity: 1;
}

.slider .tooltip {
  margin-top: -10px;

  /* Make tooltips unselectable */
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  -o-user-select: none;
  user-select: none;
}

#outer-pay-amount-week, #outer-pay-amount-month {
  display: none;
}

.btn-primary {
  background: #83bb26;

  border-radius: 30px;

  border: 0;

  width: auto;

  display: inline;
}

.btn-primary:hover {
  background: #83bb26;

  border: 0;
}

.label {
  padding: 5px 10px;
}

.assumptions-menu {
  margin-bottom: 15px;
}

.assumptions-menu p {
  margin: 0;

  line-height: 34px;

  font-size: 1.1em;
}

.panel a {
  color: #fff;
  text-decoration: underline;
}

.panel-heading {
  background-color: #fff !important;
  border: 0 !important;
  color: #000;
}

.panel .slider {
  height: 70px;
  width: 100%;
}

.panel .slider .tooltip {
  margin-top: 0px;
}

.panel .slider-track {
  background: rgba(0, 0, 0, 0.5);
}

.panel .slider-selection {
  background: #fff;
}

.panel .slider-handle {
  background: #fff;
  border: solid #000 3px;
  opacity: 1;
}

.panel-image {
  font-size: 3em;

  padding: 15px 0 40px 0;
}

#panel-household-size {
  background: hsla(50, 60%, 40%, 1);
}
#panel-food-expenses {
  background: hsla(75, 60%, 40%, 1);
}
#panel-transport-expenses {
  background: hsla(100, 60%, 40%, 1);
}
#panel-rent-expenses {
  background: hsla(125, 60%, 40%, 1);
}
#panel-health-expenses {
  background: hsla(150, 60%, 40%, 1);
}
#panel-education-expenses {
  background: hsla(175, 60%, 40%, 1);
}
#panel-communication-expenses {
  background: hsla(200, 60%, 40%, 1);
}
#panel-recreation-expenses {
  background: hsla(225, 60%, 40%, 1);
}
#panel-other-expenses {
  background: hsla(250, 60%, 40%, 1);
}

.social-media-buttons {
  display: inline-block;

  width: 140px;
  height: 43px;

  text-align: center;
  vertical-align: middle;

  line-height: 0;

  background: #ddd;

  padding-top: 10px;
  padding-bottom: 10px;

  margin: 0 5px 15px 5px;

  border: solid #ccc 1px;
}

.social-media-buttons div {
  display: inline;
}

.scroll-top-message {
  font-weight: 700;

  font-size: 1.2em;
}

.scroll-top-message a {
  text-decoration: none;
}

.scroll-top-message p:nth-child(2) {
  font-size: 1.2em;
}

.scroll-top-message .btn {
  text-transform: initial;

  font-size: 0.8em;
}
