body{
    background-image: url('../images/furley_bg.png');
}

.btn-lg{
    margin-top: 25px;
    margin-bottom: 25px;
}

.panel-heading:hover{
    cursor: pointer;
    background-color: #eee;
}

.panel-heading a:hover{
    text-decoration: none;
}

#assumption-container{
    margin-top:25px;
}

#footer{
    height: 110px;
    width: 100%;
    padding-top: 20px;
    margin-top: 20px;
    background-color: #f8f8f8;
    border-top: solid #e7e7e7 1px;
}

#output-percentage{
    font-size: 24px;
}

.jumbotron {
    padding-bottom: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
}

.jumbotron p {
    margin-bottom: 5px;
}

.jumbotron .small {
    font-size: 12px;
}

.jumbotron h1 {
    margin-bottom: 15px;
}

.code4sa .lead {
    margin-bottom: 5px;
}

.code4sa #attribution img {
    height:34px;
    margin-left: 10px;
}

.code4sa .btn {
    background-color:#3e5771;
}


