body{
    background-image: url('../images/furley_bg.png');
}

.btn-lg{
    margin-top: 25px;
    margin-bottom: 25px;
}

.panel-heading:hover{
    cursor: pointer;
    background-color: #eee;
}

.panel-heading a:hover{
    text-decoration: none;
}

#assumption-container{
    margin-top:25px;
}

#footer{
    height: 80px;
    width: 100%;
    padding-top: 20px;
    margin-top: 20px;
    background-color: #f8f8f8;
    border-top: solid #e7e7e7 1px;
}

#output-percentage{
    font-size: 24px;
}