body{
    background-image: url('../images/furley_bg.png');
}

.btn-lg{
    margin-top: 25px;
    margin-bottom: 25px;
}

.panel-heading:hover{
    cursor: pointer;
    background-color: #eee;
}

.panel-heading a:hover{
    text-decoration: none;
}

#assumption-container{
    margin-top:25px;
}

#footer{
    height: 110px;
    width: 100%;
    padding-top: 20px;
    margin-top: 20px;
    background-color: #f8f8f8;
    border-top: solid #e7e7e7 1px;
}

#output-percentage{
    font-size: 24px;
}

.jumbotron {
    margin-bottom: 10px;
    padding: 30px;
    border-radius: 0 !important;
}

.jumbotron .small {
    font-size: 16px;
}

.jumbotron p{

    margin: 0;

}

.jumbotron p.lead{

    margin-bottom: 10px;

}


.jumbotron H1{
    margin: 0 0 10px 0;
}

.slider.slider-horizontal {
    width: 100%;
}

.twitter-share-button, .fb-like {
    margin-top: 10px;
    margin-left: 10px;
}

.lead {
    line-height: 30px;
}
