@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,900);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300);

body{
    background-image: url('../images/furley_bg.png');
    font-family: 'Roboto';
}

h1, h2, h3, h4, h5, h6{

    margin-top: 0;

}

.btn-lg{
    margin-top: 25px;
    margin-bottom: 25px;
}

.panel-heading:hover{
    cursor: pointer;
    background-color: #eee;
}

.panel-heading a:hover{
    text-decoration: none;
}

#footer{
    height: 110px;
    width: 100%;
    padding-top: 20px;
    margin-top: 20px;
    background-color: #f8f8f8;
    border-top: solid #e7e7e7 1px;
}

#output-percentage{
    font-size: 24px;
}

.jumbotron {
    background: #09f;
    color: #fff;
    margin-bottom: 10px;
    padding: 30px 30px 40px 30px;
    border-radius: 0 !important;
}

.jumbotron .small {
    font-size: 16px;
}

.jumbotron p{

    margin: 0;

}

.jumbotron p.lead{

    margin-bottom: 20px;

    font-family: 'Roboto Slab';

}


.jumbotron H1{
    margin: 0 0 10px 0;

    font-weight: 900;

    color: #fff;
}

.jumbotron a{

    background: #fff;

    color: #09f;

    border-radius: 15px;

    padding: 8px 10px 8px 10px;

    font-weight: 700;
    font-size: 0.7em;

    text-transform: lowercase;

}

.jumbotron a:hover{

    text-decoration: none;
    color: #059;

}

.slider.slider-horizontal {
    width: 100%;
}

.twitter-share-button, .fb-like {
    margin-top: 10px;
    margin-left: 10px;
}

.lead {
    line-height: 30px;
}

.section{

    background: #fff;

    padding: 20px;

    margin-bottom: 20px;

}

.panel{

    margin-bottom: 20px !important;

}

.question{
    font-family: 'Roboto Slab';
}

.sources{
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 0.8em;
}

.navbar{
    margin-bottom: 0;
}