<!-- <footer id="footer">
  <div class="text-center">
    <p id="attribution">Brought to you by&nbsp;&nbsp;<a href="https://codeforafrica.org/" target="_blank"><img height="34" src="/img/logos/cfafrica-black.png"></a>.</p>
    <p><i class="fab fa-github"></i> <a target="blank" href="https://github.com/CodeForAfricaLabs/LivingWage.KE">Fork this on GitHub</a></p>
    <div id="tweetBtn">
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ site.url }}" data-text="Are you paying your domestic worker a living wage?" data-via="{{ site.twitter }}" data-hashtags="livingwage">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>
  </div>
</footer> -->
<footer id="footer">
  <div class="footer-main container">
    <div class="row">
      <div class="col-sm-5">
        <p>
          <small><strong>Living Wage Kenya</strong> calculator lets employers calculate if they are paying their employees a living wage.</small>
        </p>

        <p>
          <small>The tool was created by <a href="https://openup.org.za" target="_blank" rel="noopener noreferrer">OpenUp</a>, formerly Code for South Africa, to highlight the low wages earned by domestic workers.</small>
        </p>
        <p>
          <small>This site is an <strong>africanSPENDING</strong> project of <strong><a href="https://codeforafrica.org/" target="_blank">Code for Africa</a></strong>. All content is released under a <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank" rel="noopener">Creative Commons 4 Attribution license</a>. Reuse it to help empower your own community. The code is available on <strong><a href="{{ site.github }}" target="_blank" rel="noopener">GitHub</a></strong> and data is available on ​<strong><a href="{{ site.openafrica }}" target="_blank" rel="noopener">openAFRICA</a></strong>​.</small>
        </p>
      </div>
      <div class="col-sm-3 text-center">
        <p>...</p>
        <ul class="list-unstyled">
          <li>
            <a href="{{ site.openafrica }}" target="_blank" rel="noopener noreferrer">Data</a>
          </li>
          <li>
            <a href="{{ site.sourceafrica }}" target="_blank" rel="noopener noreferrer">Documents</a>
          </li>
          <li>
            <a href="{{ site.afrileaks }}" target="_blank" rel="noopener noreferrer">Submit A Tip</a>
          </li>
        </ul>
        <p>...</p>
        <ul class="list-unstyled">
          <li>
            <a href="{{ site.home }}" target="_blank" rel="noopener noreferrer">Home</a>
          </li>
        </ul>
        <ul class="list-inline">
          <li>
            <a href="https://twitter.com/{{ site.twitter }}" target="_blank" rel="noopener noreferrer">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="https://facebook.com/{{ site.facebook }}" target="_blank" rel="noopener noreferrer">
              <i class="fab fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href="https://instagram.com/{{ site.instagram }}" target="_blank" rel="noopener noreferrer">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-sm-4 logos text-center">
        <a href="{{ site.home }}" target="_blank" rel="noopener"><img src="/img/logos/peopledaily-long.png" style="max-height: 80px; margin-top: 10px;"></a><br>
        <a href="https://codeforkenya.org/" target="_blank" rel="noopener"><img src="/img/logos/cfafrica.png"></a>
        <a href="https://www.dw.com/en/dw-akademie/about-us/s-9519" target="_blank" rel="noopener"><img src="/img/logos/dwa.png"></a>
      </div>
    </div>
  </div> <!-- /.container -->

  <!-- <div class="footer-inverse container-fluid text-center">
     <a href="https://standardmedia.co.ke/" target="_blank" rel="noopener">
      <img src="/img/standard-logo.png">
    </a>
  </div> -->

</footer>