<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#story-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="http://epaper.peopledaily.co.ke/" class="navbar-brand"><img height="70px" src="/img/logos/peopledaily.jpg" style="margin-top:-15px"/></a>
    </div>

    <div class="collapse navbar-collapse" id="story-navbar-collapse">
      <ul class="nav navbar-nav">
        <!-- <li><a href="{{ site.story[0].url }}" title="{{ site.story[0].title }}">{{ site.story[0].title }}</a></li>
        <li><a href="{{ site.story[1].url }}" title="{{ site.story[1].title }}">{{ site.story[1].title }}</a></li>
        <li><a href="{{ site.story[2].url }}" title="{{ site.story[2].title }}">{{ site.story[2].title }}</a></li> -->
        <li><a href="{{ site.home }}" target="_blank" rel="noopener noreferrer">Home</a></li>
        <li><a href="{{ site.openafrica }}" target="_blank" rel="noopener noreferrer">Data</a></li>
        <li><a href="{{ site.sourceafrica }}" target="_blank" rel="noopener noreferrer">Documents</a></li>
        <li><a href="{{ site.afrileaks }}" target="_blank" rel="noopener noreferrer">Submit A Tip</a></li>
        <li class="active"><a href="{{ site.url }}" title="Wage Calculator" target="_blank">Wage Calculator</a></li>
      </ul>
    </div>
  </div>
</div>
</nav>
